misc/chart_test.json
[{"id":"869400d9.b6ab","type":"debug","z":"6a3eaa56.401ae4","name":"","active":true,"console":"false","complete":"true","x":460.5,"y":243,"wires":[]},{"id":"6ce7760c.f63318","type":"ui_chart","z":"6a3eaa56.401ae4","name":"","group":"b7c28c41.d99cd","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"x":533.5,"y":159,"wires":[[],[]]},{"id":"4bb3190c.bc8ad8","type":"inject","z":"6a3eaa56.401ae4","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":135.5,"y":85,"wires":[["46884bfe.3fcb04"]]},{"id":"3c19eac0.5239d6","type":"random","z":"6a3eaa56.401ae4","name":"","low":"1","high":"6","inte":"true","x":296.5,"y":185,"wires":[["869400d9.b6ab","6ce7760c.f63318"]]},{"id":"46884bfe.3fcb04","type":"function","z":"6a3eaa56.401ae4","name":"[x]","func":"msg = null;\nreturn msg;","outputs":1,"noerr":0,"x":132.5,"y":185,"wires":[["3c19eac0.5239d6"]]},{"id":"b7c28c41.d99cd","type":"ui_group","z":"","name":"Default","tab":"a2b609cd.c8b898","disp":true,"width":"6"},{"id":"a2b609cd.c8b898","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]
