misc/split_join_sample.json
[{"id":"320db90e.da6ea6","type":"split","z":"9925b4be.441038","name":"","splt":"\\n","x":489.5,"y":52,"wires":[["f0baa89d.e67108"]]},{"id":"75b82f16.7e2a2","type":"inject","z":"9925b4be.441038","name":"Array ([1,2,3,4,5])","topic":"","payload":"[1,2,3,4,5]","payloadType":"json","repeat":"","crontab":"","once":false,"x":135.5,"y":53,"wires":[["320db90e.da6ea6"]]},{"id":"f0baa89d.e67108","type":"debug","z":"9925b4be.441038","name":"","active":true,"console":"false","complete":"false","x":602.5,"y":431,"wires":[]},{"id":"8adf5e13.51047","type":"split","z":"9925b4be.441038","name":"split by whitespace","splt":" ","x":412.5,"y":104,"wires":[["f0baa89d.e67108"]]},{"id":"aba0d9d5.6d1338","type":"inject","z":"9925b4be.441038","name":"String (\"test node\")","topic":"","payload":"test node","payloadType":"str","repeat":"","crontab":"","once":false,"x":144.5,"y":105,"wires":[["8adf5e13.51047"]]},{"id":"d85050a5.8f371","type":"inject","z":"9925b4be.441038","name":"Object ({\"val1\":\"a\", \"val2\":\"b\", \"val3\":\"c\"})","topic":"","payload":"{\"val1\":\"a\", \"val2\":\"b\", \"val3\":\"c\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":214.5,"y":162,"wires":[["e9f42d66.37f23"]]},{"id":"e9f42d66.37f23","type":"split","z":"9925b4be.441038","name":"","splt":"\\n","x":351.5,"y":218,"wires":[["f0baa89d.e67108"]]},{"id":"8cbd992f.9768e8","type":"split","z":"9925b4be.441038","name":"","splt":"\\n","x":265,"y":278,"wires":[["ad3b836b.fdaeb"]]},{"id":"efaba962.474778","type":"inject","z":"9925b4be.441038","name":"","topic":"","payload":"[1,2,3,4,5]","payloadType":"json","repeat":"","crontab":"","once":false,"x":116,"y":262,"wires":[["8cbd992f.9768e8"]]},{"id":"ad3b836b.fdaeb","type":"template","z":"9925b4be.441038","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"number is {{payload}} !","x":311.5,"y":328,"wires":[["ba1f4fd4.ce531"]]},{"id":"ba1f4fd4.ce531","type":"join","z":"9925b4be.441038","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","timeout":"","count":"","x":362.5,"y":384,"wires":[["f0baa89d.e67108"]]},{"id":"3da271e1.2d6b9e","type":"inject","z":"9925b4be.441038","name":"","topic":"","payload":"[1,2,3,4,5]","payloadType":"json","repeat":"","crontab":"","once":false,"x":117,"y":440,"wires":[["f5f004d7.f3cc28"]]},{"id":"bd3ff982.a9f8b8","type":"join","z":"9925b4be.441038","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":":","timeout":"","count":"","x":371.5,"y":501,"wires":[["f0baa89d.e67108"]]},{"id":"f5f004d7.f3cc28","type":"split","z":"9925b4be.441038","name":"","splt":"\\n","x":268.5,"y":439,"wires":[["bd3ff982.a9f8b8"]]},{"id":"4f2d380c.dab018","type":"inject","z":"9925b4be.441038","name":"","topic":"","payload":"[1,2,3,4,5]","payloadType":"json","repeat":"","crontab":"","once":false,"x":122,"y":575,"wires":[["73c96410.f682dc"]]},{"id":"73c96410.f682dc","type":"split","z":"9925b4be.441038","name":"","splt":"\\n","x":273.5,"y":574,"wires":[["d91aef60.2ef93"]]},{"id":"d91aef60.2ef93","type":"change","z":"9925b4be.441038","name":"","rules":[{"t":"set","p":"parts.key","pt":"msg","to":"val","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":360.5,"y":639,"wires":[["4944ac48.ac0704"]]},{"id":"4944ac48.ac0704","type":"template","z":"9925b4be.441038","name":"","field":"parts.key","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{parts.key}}{{parts.index}}","x":375.5,"y":706,"wires":[["f476eb05.5aec28"]]},{"id":"f476eb05.5aec28","type":"join","z":"9925b4be.441038","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"parts.key","joiner":"\\n","timeout":"","count":"5","x":411.5,"y":757,"wires":[["f0baa89d.e67108"]]}]
