led/1.json
[{"id":"523cb1c7.e945a","type":"rpi-gpio out","z":"d807a31.e0b4e6","name":"LED","pin":"40","set":true,"level":"0","out":"out","x":368,"y":111,"wires":[]},{"id":"8ca98fc9.19b83","type":"inject","z":"d807a31.e0b4e6","name":"ON","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":146,"y":113,"wires":[["523cb1c7.e945a","acca35d8.0739c8"]]},{"id":"c0c846a.6f55fb8","type":"inject","z":"d807a31.e0b4e6","name":"OFF","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":148,"y":173,"wires":[["523cb1c7.e945a","acca35d8.0739c8"]]},{"id":"acca35d8.0739c8","type":"debug","z":"d807a31.e0b4e6","name":"","active":true,"console":"false","complete":"false","x":383,"y":182,"wires":[]}]