LED/1.json
[{"id":"d74f8934.3f9868","type":"rpi-gpio out","z":"9b64dd16.e1af","name":"LED","pin":"40","set":true,"level":"0","out":"out","x":309,"y":71,"wires":[]},{"id":"1d177e68.75be52","type":"inject","z":"9b64dd16.e1af","name":"Start","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":87,"y":73,"wires":[["d74f8934.3f9868","9446801d.adcd9"]]},{"id":"c33e5508.fc13e8","type":"inject","z":"9b64dd16.e1af","name":"Stop","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":89,"y":133,"wires":[["d74f8934.3f9868","9446801d.adcd9"]]},{"id":"9446801d.adcd9","type":"debug","z":"9b64dd16.e1af","name":"","active":true,"console":"false","complete":"false","x":324,"y":142,"wires":[]}]