LED/2.json
[{"id":"8dad862b.b907f8","type":"rpi-gpio out","z":"e99b71b4.e348c","name":"LED","pin":"40","set":true,"level":"0","out":"out","x":608,"y":34,"wires":[]},{"id":"f3ca3fa0.8444f","type":"inject","z":"e99b71b4.e348c","name":"ON/OFF","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":123,"y":129,"wires":[["238f1752.e8b138"]]},{"id":"a93574f0.ffe978","type":"debug","z":"e99b71b4.e348c","name":"","active":true,"console":"false","complete":"false","x":618,"y":214,"wires":[]},{"id":"238f1752.e8b138","type":"function","z":"e99b71b4.e348c","name":"Toggle ON/OFF","func":"if( context.global.i === undefined ) context.global.i = 0;\n\ncontext.global.i += 1;\n\nif (context.global.i %2 === 0 ){\n    msg.payload = 0;\n} else {\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"x":335,"y":126,"wires":[["8dad862b.b907f8","a93574f0.ffe978"]]}]