LED/3.json
[{"id":"7e187b79.e0a894","type":"rpi-gpio out","z":"deef0136.07dc7","name":"LED","pin":"40","set":true,"level":"0","out":"out","x":448,"y":86,"wires":[]},{"id":"7b883283.0c659c","type":"inject","z":"deef0136.07dc7","name":"Start","topic":"","payload":"true","payloadType":"bool","repeat":"2","crontab":"","once":false,"x":83,"y":161,"wires":[["a3d51f39.dfa14"]]},{"id":"fa9053f7.eb2dc","type":"debug","z":"deef0136.07dc7","name":"","active":true,"console":"false","complete":"false","x":454,"y":238,"wires":[]},{"id":"a3d51f39.dfa14","type":"function","z":"deef0136.07dc7","name":"Toggle ON/OFF","func":"if( context.global.i === undefined ) context.global.i = 0;\n\ncontext.global.i += 1;\n\nif (context.global.i %2 === 0 ){\n    msg.payload = 0;\n} else {\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"x":262,"y":161,"wires":[["7e187b79.e0a894","fa9053f7.eb2dc"]]}]