LED/3.json
[{"id":"4e564833.327cb8","type":"rpi-gpio out","z":"2d5aaf7c.2268a","name":"LED","pin":"40","set":true,"level":"0","out":"out","x":639,"y":78,"wires":[]},{"id":"8ea758e2.18dae8","type":"inject","z":"2d5aaf7c.2268a","name":"ON/OFF","topic":"","payload":"true","payloadType":"bool","repeat":"2","crontab":"","once":false,"x":154,"y":173,"wires":[["3ab150aa.68b1a"]]},{"id":"2070a4c4.c7ae3c","type":"debug","z":"2d5aaf7c.2268a","name":"","active":true,"console":"false","complete":"false","x":649,"y":258,"wires":[]},{"id":"3ab150aa.68b1a","type":"function","z":"2d5aaf7c.2268a","name":"Toggle ON/OFF","func":"if( context.global.i === undefined ) context.global.i = 0;\n\ncontext.global.i += 1;\n\nif (context.global.i %2 === 0 ){\n    msg.payload = 0;\n} else {\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"x":366,"y":170,"wires":[["4e564833.327cb8","2070a4c4.c7ae3c"]]}]