temperature/1.json
[{"id":"c0efd10a.7184d","type":"debug","z":"d807a31.e0b4e6","name":"","active":true,"console":"false","complete":"payload","x":457,"y":291.91668701171875,"wires":[]},{"id":"a7d37ef3.178b3","type":"inject","z":"d807a31.e0b4e6","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"x":106,"y":109,"wires":[["3ad78d1c.a56642"]]},{"id":"3ad78d1c.a56642","type":"rpi-dht22","z":"d807a31.e0b4e6","name":"Temperature Sensor","topic":"rpi-dht22","dht":"11","pintype":"0","pin":4,"x":280.5,"y":211,"wires":[["c0efd10a.7184d"]]}]