Temperature/1_measure_temp.json
[{"id":"2cfa81f1.4fc1de","type":"debug","z":"887ec3f.6510c4","name":"debug json string","active":true,"console":"false","complete":"payload","x":500,"y":316.91668701171875,"wires":[]},{"id":"5440757.2b3958c","type":"inject","z":"887ec3f.6510c4","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"x":117,"y":132,"wires":[["7731fff5.d0a54"]]},{"id":"7731fff5.d0a54","type":"rpi-dht22","z":"887ec3f.6510c4","name":"","topic":"rpi-dht22","dht":"11","pintype":"0","pin":"4","x":248,"y":203,"wires":[["2cfa81f1.4fc1de"]]}]