m2x/fetch_from_m2x.json
[{"id":"cc03fec6.e5f5","type":"debug","z":"a8b09cb9.c5b7d","name":"","active":true,"console":"false","complete":"payload","x":656,"y":456,"wires":[]},{"id":"c0336752.5d4498","type":"m2x","z":"a8b09cb9.c5b7d","feed":"d4c8ac78.1bf83","name":"Raspberry Pi","x":616,"y":363,"wires":[["cc03fec6.e5f5"]]},{"id":"458afc61.1c0eb4","type":"inject","z":"a8b09cb9.c5b7d","name":"Start","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":84,"y":81,"wires":[["13bf5aa5.9e9f55"]]},{"id":"13bf5aa5.9e9f55","type":"function","z":"a8b09cb9.c5b7d","name":"create a request to get the lastest data","func":"msg.topic = \"devices\";\nmsg.action = \"stream\";\nmsg.topic_id = \"ef48cb79948feed16ae8afc67840650c\";\nmsg.sub_topic_id = \"rpi_temp\";\nreturn msg;","outputs":1,"noerr":0,"x":294,"y":309,"wires":[["c0336752.5d4498"]]},{"id":"808c9e26.cca41","type":"function","z":"a8b09cb9.c5b7d","name":"create a request to view a device","func":"msg.topic = \"devices\";\nmsg.action = \"view\";\nmsg.topic_id = \"ef48cb79948feed16ae8afc67840650c\";\nreturn msg;\n","outputs":1,"noerr":0,"x":326,"y":225,"wires":[["c0336752.5d4498"]]},{"id":"fbef14e0.4714b8","type":"function","z":"a8b09cb9.c5b7d","name":"create a request to list devices (not yet)","func":"msg.topic = \"devices\";\nmsg.action = \"list\";\nreturn msg;\n","outputs":1,"noerr":0,"x":385.5,"y":147,"wires":[["c0336752.5d4498"]]},{"id":"d4c8ac78.1bf83","type":"m2x feed","z":"","apiKey":"f43b28e1a4670711e15b347f50acd238","name":"rpi"}]