m2x/fetch_from_m2x.json
[{"id":"d0e67a3f.d4a298","type":"debug","z":"349dbb71.aea744","name":"","active":true,"console":"false","complete":"payload","x":659.5,"y":462,"wires":[]},{"id":"3a26b2cd.cc74fe","type":"m2x","z":"349dbb71.aea744","feed":"ae13b597.ef3b08","name":"Raspberry Pi","x":619.5,"y":369,"wires":[["d0e67a3f.d4a298"]]},{"id":"1173a344.3123fd","type":"inject","z":"349dbb71.aea744","name":"Start","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":87.5,"y":87,"wires":[["4ce9a3c8.c29ecc","fbe110d0.8455a"]]},{"id":"fbe110d0.8455a","type":"function","z":"349dbb71.aea744","name":"create a request to get the lastest data","func":"msg.topic = \"devices\";\nmsg.action = \"stream\";\nmsg.topic_id = \"ef48cb79948feed16ae8afc67840650c\";\nmsg.sub_topic_id = \"rpi_temp\";\nreturn msg;","outputs":1,"noerr":0,"x":297.5,"y":315,"wires":[["3a26b2cd.cc74fe"]]},{"id":"4ce9a3c8.c29ecc","type":"function","z":"349dbb71.aea744","name":"create a request to view a device","func":"msg.topic = \"devices\";\nmsg.action = \"view\";\nmsg.topic_id = \"ef48cb79948feed16ae8afc67840650c\";\nreturn msg;\n","outputs":1,"noerr":0,"x":329.5,"y":231,"wires":[["3a26b2cd.cc74fe"]]},{"id":"af1ff26f.b08ad","type":"function","z":"349dbb71.aea744","name":"create a request to list devices (not yet)","func":"msg.topic = \"devices\";\nmsg.action = \"list\";\nreturn msg;\n","outputs":1,"noerr":0,"x":389,"y":153,"wires":[["3a26b2cd.cc74fe"]]},{"id":"ae13b597.ef3b08","type":"m2x feed","z":"","apiKey":"f43b28e1a4670711e15b347f50acd238","name":"rpi"}]
