m2x/fetch_from_m2x.json
[{"id":"37eee525.bffa5a","type":"debug","z":"7e71a544.5ab4ec","name":"","active":true,"console":"false","complete":"payload","x":686,"y":943,"wires":[]},{"id":"e0f4819a.dbdcc","type":"m2x","z":"7e71a544.5ab4ec","feed":"1930fcf2.188fe3","name":"Raspberry Pi","x":646,"y":850,"wires":[["37eee525.bffa5a"]]},{"id":"93686caa.0bfca","type":"inject","z":"7e71a544.5ab4ec","name":"Start","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":108,"y":680,"wires":[["9e12f7d3.f2bd98"]]},{"id":"9e12f7d3.f2bd98","type":"function","z":"7e71a544.5ab4ec","name":"create a request to get the lastest data","func":"msg.topic = \"devices\";\nmsg.action = \"stream\";\nmsg.topic_id = \"ef48cb79948feed16ae8afc67840650c\";\nmsg.sub_topic_id = \"rpi_temp\";\nreturn msg;","outputs":1,"noerr":0,"x":324,"y":796,"wires":[["e0f4819a.dbdcc"]]},{"id":"1930fcf2.188fe3","type":"m2x feed","z":"","apiKey":"f43b28e1a4670711e15b347f50acd238","name":"rpi"}]