m2x/plot_m2x_data_to_chart.json
[{"id":"444dd7c7.493978","type":"m2x","z":"67cd7a46.4e6594","feed":"6e5950b6.68227","name":"Raspberry Pi","x":327.5,"y":356,"wires":[["dd450827.df40e8","fa119f72.f07c5"]]},{"id":"4e4fcdbc.01a0b4","type":"inject","z":"67cd7a46.4e6594","name":"Start","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":127.5,"y":198,"wires":[["1d5d561f.91ce7a"]]},{"id":"1d5d561f.91ce7a","type":"function","z":"67cd7a46.4e6594","name":"create a request to get the lastest data","func":"msg.topic = \"devices\";\nmsg.action = \"stream\";\nmsg.topic_id = \"ef48cb79948feed16ae8afc67840650c\";\nmsg.sub_topic_id = \"rpi_temp\";\nreturn msg;","outputs":1,"noerr":0,"x":272.5,"y":275,"wires":[["444dd7c7.493978","359823c.df676dc"]]},{"id":"dd450827.df40e8","type":"debug","z":"67cd7a46.4e6594","name":"","active":true,"console":"false","complete":"payload","x":637.5,"y":300,"wires":[]},{"id":"11bdbf12.dd11f1","type":"ui_chart","z":"67cd7a46.4e6594","tab":"43e542bd.4a9c1c","name":"","group":"ae41cfc7.7d54f","order":0,"interpolate":"linear","nodata":"","removeOlder":1,"removeOlderUnit":"3600","x":480.5,"y":522,"wires":[[],[]]},{"id":"fa119f72.f07c5","type":"change","z":"67cd7a46.4e6594","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":416.5,"y":441,"wires":[["11bdbf12.dd11f1","dd450827.df40e8"]]},{"id":"359823c.df676dc","type":"debug","z":"67cd7a46.4e6594","name":"","active":true,"console":"false","complete":"true","x":575.5,"y":207,"wires":[]},{"id":"6e5950b6.68227","type":"m2x feed","z":"","apiKey":"f43b28e1a4670711e15b347f50acd238","name":"rpi"},{"id":"43e542bd.4a9c1c","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":"1"}]