m2x/plot_m2x_data_to_chart.json
[{"id":"af1ff26f.b08ad","type":"function","z":"349dbb71.aea744","name":"create a request to list devices (not yet)","func":"msg.topic = \"devices\";\nmsg.action = \"list\";\nreturn msg;\n","outputs":1,"noerr":0,"x":389,"y":153,"wires":[["3a26b2cd.cc74fe"]]},{"id":"3a26b2cd.cc74fe","type":"m2x","z":"349dbb71.aea744","feed":"ae13b597.ef3b08","name":"Raspberry Pi","x":619.5,"y":311,"wires":[["d0e67a3f.d4a298","138c91a1.8efa7e"]]},{"id":"1173a344.3123fd","type":"inject","z":"349dbb71.aea744","name":"Start","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":87.5,"y":87,"wires":[["8d04182d.4ab438"]]},{"id":"fbe110d0.8455a","type":"function","z":"349dbb71.aea744","name":"create a request to get the lastest data","func":"msg.topic = \"devices\";\nmsg.action = \"stream\";\nmsg.topic_id = \"ef48cb79948feed16ae8afc67840650c\";\nmsg.sub_topic_id = \"rpi_temp\";\nreturn msg;","outputs":1,"noerr":0,"x":297.5,"y":315,"wires":[["3a26b2cd.cc74fe"]]},{"id":"d0e67a3f.d4a298","type":"debug","z":"349dbb71.aea744","name":"","active":true,"console":"false","complete":"payload","x":659.5,"y":462,"wires":[]},{"id":"4ce9a3c8.c29ecc","type":"function","z":"349dbb71.aea744","name":"create a request to view a device","func":"msg.topic = \"devices\";\nmsg.action = \"view\";\nmsg.topic_id = \"ef48cb79948feed16ae8afc67840650c\";\nreturn msg;\n","outputs":1,"noerr":0,"x":329.5,"y":231,"wires":[["3a26b2cd.cc74fe"]]},{"id":"5a8b4a4a.1c62a4","type":"ui_chart","z":"349dbb71.aea744","name":"","group":"ae41cfc7.7d54f","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"x":651.5,"y":536,"wires":[[],[]]},{"id":"138c91a1.8efa7e","type":"change","z":"349dbb71.aea744","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":451.5,"y":499,"wires":[["5a8b4a4a.1c62a4","d0e67a3f.d4a298"]]},{"id":"8d04182d.4ab438","type":"change","z":"349dbb71.aea744","name":"create a request to get the lastest data","rules":[{"t":"set","p":"topic","pt":"msg","to":"devices","tot":"str"},{"t":"set","p":"action","pt":"msg","to":"stream","tot":"str"},{"t":"set","p":"topic_id","pt":"msg","to":"ef48cb79948feed16ae8afc67840650c","tot":"str"},{"t":"set","p":"sub_topic_id","pt":"msg","to":"rpi_temp","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":242.5,"y":361,"wires":[["3a26b2cd.cc74fe","cc299ec3.ad397"]]},{"id":"cc299ec3.ad397","type":"debug","z":"349dbb71.aea744","name":"","active":true,"console":"false","complete":"true","x":207.5,"y":515,"wires":[]},{"id":"ae13b597.ef3b08","type":"m2x feed","z":"","apiKey":"f43b28e1a4670711e15b347f50acd238","name":"rpi"},{"id":"ae41cfc7.7d54f","type":"ui_group","z":"","name":"Gauge","tab":"a2b609cd.c8b898","order":2,"disp":true,"width":"6"},{"id":"a2b609cd.c8b898","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]
