m2x/send_temperature_to_m2x_rpi.json
[{"id":"2cfa81f1.4fc1de","type":"debug","z":"887ec3f.6510c4","name":"Sensor Data","active":true,"console":"false","complete":"payload","x":554,"y":144.91668701171875,"wires":[]},{"id":"5440757.2b3958c","type":"inject","z":"887ec3f.6510c4","name":"Start","topic":"","payload":"true","payloadType":"bool","repeat":"60","crontab":"","once":false,"x":104,"y":56,"wires":[["7731fff5.d0a54"]]},{"id":"7731fff5.d0a54","type":"rpi-dht22","z":"887ec3f.6510c4","name":"Temp Sensor","topic":"rpi-dht22","dht":"11","pintype":"0","pin":"4","x":257,"y":128,"wires":[["2cfa81f1.4fc1de","11209ca.60f9863"]]},{"id":"499a12.5aa5d5f","type":"m2x","z":"887ec3f.6510c4","feed":"bc6f1d47.1a061","name":"send data to m2x","x":472,"y":308,"wires":[["1e78268a.c554e9"]]},{"id":"1e78268a.c554e9","type":"debug","z":"887ec3f.6510c4","name":"M2X Response","active":true,"console":"false","complete":"true","x":577.5,"y":383,"wires":[]},{"id":"11209ca.60f9863","type":"function","z":"887ec3f.6510c4","name":"create data for m2x","func":"msg.topic = \"devices\";\nmsg.action = \"setStreamValue\";\nmsg.topic_id = \"ef48cb79948feed16ae8afc67840650c\";\nmsg.sub_topic_id = \"rpi_temp\";\nmsg.payload = {value: msg.payload};\nreturn msg;\n","outputs":1,"noerr":0,"x":371.5,"y":218,"wires":[["499a12.5aa5d5f"]]},{"id":"bc6f1d47.1a061","type":"m2x feed","z":"","apiKey":"f43b28e1a4670711e15b347f50acd238","name":""}]