m2x/send_random_number_to_m2x.json
[{"id":"a0489c3.46f1c6","type":"random","z":"161a59d9.b56976","name":"random number (from 1 to 100)","low":"1","high":"100","inte":"false","x":329.5,"y":58,"wires":[["e5f8f521.e1b908"]]},{"id":"e0afe425.88c6e8","type":"m2x","z":"161a59d9.b56976","feed":"ed83ec8a.202a","name":"send data to m2x","x":503.5,"y":198,"wires":[["c4997f49.ca93"]]},{"id":"91c2014d.98acd","type":"inject","z":"161a59d9.b56976","name":"start","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":105,"y":42,"wires":[["a0489c3.46f1c6"]]},{"id":"c4997f49.ca93","type":"debug","z":"161a59d9.b56976","name":"debug message","active":true,"console":"false","complete":"true","x":493,"y":255,"wires":[]},{"id":"e5f8f521.e1b908","type":"function","z":"161a59d9.b56976","name":"create data","func":"msg.topic = \"devices\";\nmsg.action = \"setStreamValue\";\nmsg.topic_id = \"ef48cb79948feed16ae8afc67840650c\";\nmsg.sub_topic_id = \"test_data\";\nmsg.payload = {value: msg.payload};\nreturn msg;\n","outputs":1,"noerr":0,"x":457,"y":127,"wires":[["e0afe425.88c6e8"]]},{"id":"ed83ec8a.202a","type":"m2x feed","z":"","apiKey":"f43b28e1a4670711e15b347f50acd238","name":""}]
